@font-face {
  font-family: "ahspace";
  src: url("../../../public/Ahsp.TTF");
}
@font-face {
  font-family: "blockbuster";
  src: url("../../../public/punkboy_tbs.ttf");
}
@font-face {
  font-family: "helsinki";
  src: url("../../../public/Louis\ George\ Cafe.ttf");
}

.nav-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pointer {
  cursor: pointer;
}


html,
body,
#react-root {
  height: 100%;
  font-family: "helsinki";
  background-color: #2e2e2e;
  color: antiquewhite
}

body {
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.events {
    display : flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.event-img {
  padding: 30px;
  max-width: 800px;
  max-height: 800px;
  
}

.event-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.info-text {
  color: darkgray;
}

.item-img {
  padding: 8px;
  margin-right: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genrebox {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.genre-item {
  font-size: large;
  max-width: fit-content;
  padding: 5px;
}

.search-container {
  margin-left: 50px;
}
.comment-submit {
  display: flex;
  flex-direction: column;
  gap: 2;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.comment-header {
  align-self: center;
}
.test {
  color:#e6855f
}